// Place all the styles related to the questions controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
h1, h2, p, a {
  font-family: Arial, sans-serif;
}

.question {
  background-color: #D9D9D9;
  padding: 10px;
  border-left: grey 5px solid;
}

.answer {
  background-color: #FEFFBF;
  padding: 10px;
  margin-top: 16px;
  margin-bottom: 16px;
  border-left: grey 5px solid;
}
